h1 {
  font-family: "Big Shoulders Stencil Text";
  color: white;
  justify-content: center;
  text-align: center;
  font-size: 50px;
}

input {
  text-align: center;
  margin: 0px auto;
  display: block;
  background-color: transparent;
  color: white;
  font-family: "Noto Sans JP", sans-serif;
  padding: 10px;
  border: none;
  width: 300px;
  border-bottom: 2px solid white;
}

.submitTBR {
  border: 3px solid white;
  margin: auto;
  display: flex;
  padding: 13px;
  color: white;
  background-color: black;
  font-size: 15px;
}

.submitTBR:hover {
  font-size: 17px;
  color: black;
  background-color: white;
}

body {
  background: linear-gradient(90deg, black, transparent),
    repeating-linear-gradient(90deg, rgb(59, 59, 59) 0%, rgb(59, 59, 59) 5%);
}

.list {
  color: white;
  display: block;
  list-style: none;
  margin: 0px auto;
  min-width: 30%;
  flex: 1;
  font-size: 30px;
}

.TBRButton {
  display: flex;
  background-color: red;
  color: white;
}

.TBRDiv {
  display: flex;
  position: relative;
  justify-content: center;
  top: 70px;
}

.TBRCheck {
  display: flex;
  background-color: green;
  color: white;
  padding: 4px;
}

i {
  pointer-events: none;
}

.check {
  text-decoration: line-through;
  opacity: 0.7;
}
